cx_Freeze==8.5.3
defusedxml==0.7.1
langchain_openai==1.1.7
langchain_core==1.2.9
numpy==2.4.2
openai==2.21.0
pandas==3.0.0
python-dotenv==1.2.1
questionary==2.1.1
requests
scipy==1.17.0
setuptools
tcxreader==0.4.11
tqdm==4.67.3
