cx_Freeze==8.5.2
defusedxml==0.7.1
langchain_openai==1.1.6
langchain_core==1.2.6
numpy==2.4.0
openai==2.14.0
pandas==2.3.3
python-dotenv==1.2.1
questionary==2.1.1
requests
scipy==1.17.0
setuptools
tcxreader==0.4.11
tqdm==4.67.1
