cx_Freeze==8.4.1
defusedxml==0.7.1
langchain_core==0.3.79
langchain_openai==1.0.1
numpy==2.3.4
openai==2.5.0
pandas==2.3.3
python-dotenv==1.1.1
questionary==2.1.1
scipy==1.16.2
tcxreader==0.4.11
tqdm==4.67.1
